body {
    margin: 0;
}

.main-container {
    background-color: #FFC017;
}

.cards {
    background-color:  #FFC017;
}

.columns {
    
    display: flex;
    flex-direction: row;
    gap: 6rem;
    border: 10px solid firebrick;
    flex-flow: row wrap;
    margin-left: 10%;
    margin-right: 10%;
    
}

.card {
    background-color: rgb(43, 202, 43);
    
}

.columns > * {
    flex: 1;
    
}

nav {
    display: flex;
    justify-content: space-around;
    background-color:  #FFC017;
    border-bottom: 1px solid black;
    
}

nav > img {
    width: 12vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 25vh;
    
}

nav > h1 {
    margin-left: 20vh;
}

.btn-and-links-container {
    display: flex;
    justify-content: flex-end;
    width: 60vh;
    
    align-items: center;
    padding-right: 30vh;
    
}

.links-container > a, button {
    flex-wrap: wrap;
     
    width: 15vh;
    max-width: fit-content;
    padding-left: 1vh;
    padding-right: 1vh;  
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.links-container > a {
    color: black;
    font-size: small;
    text-decoration: none;
}

button {
    margin-left: 1vh;
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: small;
    cursor: pointer;
}

/*img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    border-radius: 100%;
    border: 5px solid black;
    cursor: pointer;
}*/
