@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    background-color: #FFC017;
}



/*.columns > * {
    flex: 1;  
}*/

nav {
    display: flex;
    justify-content: space-around;
    background-color:  #FFC017;
    border-bottom: 1px solid black;
    
}

nav > img {
    width: 12vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 25vh;
    
}

nav > h1 {
    margin-left: 20vh;
}

.btn-and-links-container {
    display: flex;
    justify-content: flex-end;
    width: 60vh;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 30vh;
    
}

.links-container > a, button {
    flex-wrap: wrap;
    width: 15vh;
    max-width: fit-content;
    padding-left: 1vh;
    padding-right: 1vh;  
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.links-container > a {
    color: black;
    font-size: small;
    text-decoration: none;
}

.btn-and-links-container > button {
    margin-left: 1vh;
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: small;
    cursor: pointer;
}

/*img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    border-radius: 100%;
    border: 5px solid black;
    cursor: pointer;
}*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid black;
}

.hero > h1 {
    font-size: 7vh;  
    font-family: 'Lora', serif; 
}

.hero > p {
    font-size: large;
}

.hero > button {
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: small;
    cursor: pointer;
}

/* .cards {
    display: flex;
    flex-direction: column;    
    border-bottom: 1px solid rgba(159, 159, 159, 0.49);
    width: 100%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    /* border: 5px solid firebrick; */
    /* color: rgba(255, 255, 255, 0.849); */
/* } */

/* .cards > .main-title {
    margin-left: 40vh;
    color: black;
    /*border: 5px solid firebrick;*/
/* } */ */

/* .columns {
    position: relative;
    display: flex;
    gap: 5px;
    box-sizing: border-box;
    align-items:flex-start;
    justify-content:space-between;
    flex-flow: row wrap;
    width: 100%;
    padding-left: 24.5em;
    padding-right: 25em;
    border: 5px solid rgb(15, 173, 221);
}

.number {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: 100%;
    align-items: stretch;
    color: rgba(230, 230, 230, 1);
    font-weight: bold;
    letter-spacing: 0; 
    line-height: 36px;
    font-size: 25px;
    padding-right: 0.5em;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid salmon;
}

.card-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 2em;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 15em;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 6em;
    border: 3px solid royalblue;
}

.card-1 > .author {
    display: -webkit-box;
    flex-direction: row;
    margin: 0;
    color:  rgba(41, 41, 41, 1);
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
    font-size: 10px;
    font-weight: 500;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    border: 3px solid rgb(24, 104, 24);
}

.card-1 > .title {
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(41, 41, 41, 1);
    max-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 10px;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-1 > .date {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    max-width: fit-content;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

Card 2

.card-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 15em;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 6em;
    border: 3px solid royalblue;
}

.card-2 > .author {
    display: -webkit-box;
    flex-direction: row;
    margin: 0;
    color:  rgba(41, 41, 41, 1);
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
    font-size: 10px;
    font-weight: 500;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    border: 3px solid rgb(24, 104, 24);
}

.card-2 > .title {
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(41, 41, 41, 1);
    max-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 10px;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-2 > .date {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    max-width: fit-content;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

Card 3

.card-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 15em;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 6em;
    border: 3px solid royalblue;
}

.card-3 > .author {
    display: -webkit-box;
    flex-direction: row;
    margin: 0;
    color:  rgba(41, 41, 41, 1);
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
    font-size: 10px;
    font-weight: 500;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    border: 3px solid rgb(24, 104, 24);
}

.card-3 > .title {
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(41, 41, 41, 1);
    max-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 10px;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-3 > .date {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    max-width: fit-content;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 15em;
    max-height: fit-content;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 1em;
    border: 3px solid royalblue;
}

.card-4 > .author {
    display: -webkit-box;
    flex-direction: row;
    margin: 0;
    color:  rgba(41, 41, 41, 1);
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
    font-size: 10px;
    font-weight: 500;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    border: 3px solid rgb(24, 104, 24);
}

.card-4 > .title {
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(41, 41, 41, 1);
    max-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 10px;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-4 > .date {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    max-width: fit-content;
    max-height: fit-content;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 15em;
    max-height: fit-content;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 6em;
    border: 3px solid royalblue;
}

.card-5 > .author {
    display: -webkit-box;
    flex-direction: row;
    margin: 0;
    color:  rgba(41, 41, 41, 1);
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
    font-size: 10px;
    font-weight: 500;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    border: 3px solid rgb(24, 104, 24);
}

.card-5 > .title {
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(41, 41, 41, 1);
    max-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 10px;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-5 > .date {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    max-width: fit-content;
    max-height: fit-content;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 15em;
    max-height: fit-content;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 6em;
    border: 3px solid royalblue;
}

.card-6 > .author {
    display: -webkit-box;
    flex-direction: row;
    margin: 0;
    color:  rgba(41, 41, 41, 1);
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
    font-size: 10px;
    font-weight: 500;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    border: 3px solid rgb(24, 104, 24);
}

.card-6 > .title {
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(41, 41, 41, 1);
    max-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 10px;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-6 > .date {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    max-width: fit-content;
    max-height: fit-content;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
} */ 

/* @media screen and (max-width: 1200px){
    .hero {
        padding-left: 10vh;
        padding-bottom: 1vh
    };

    nav > img {
        padding-left: 8vh;
    };

    .btn-and-links-container {
        width: 40vh;
        padding-right: 10vh; 
    }
} */{}

section.trending {
    padding-top: 1.5rem;
    padding-left: 25rem;
    padding-right: 20rem;
    border-bottom: 1px solid rgb(172, 172, 172);
    /* border: 3px solid black; */

}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /* padding-top: 0%; */
    /* border: 3px solid firebrick; */
}

.container > h2 > span > ion-icon { 
    font-size: 20px;
    --ionicon-stroke-width: 30px;
    color: black;
    margin-right: 15px;
    /* border: 3px solid green; */
  }

.container > h2 {
    margin-top: 0%;
    position: relative;
    display: flex;
    align-self: center;
    /* flex-direction: row; */
    font-size: 13px;
    letter-spacing: 1.5px;
    max-width: fit-content;
    /* border: 3px solid red; */
}

.position-relative {
    position: relative;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
}

.max-50 {
    flex-basis: 50%;
    max-width: 33.3%;
    
}

.flex-grow-1 {
    flex-grow: 1;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    max-width: 100%;
    /* border: 3px solid green; */
}

.card > .number {
    flex-direction: row;
    max-width: 20%;
    color: rgba(230, 230, 230, 1);
    font-weight: 900;
    font-size: 30px;
    /* border: 5px solid rgb(242, 230, 55); */
} 

.card-body {
    flex: 1 1 auto;
    flex-direction: row;
    max-width: 90%;
    min-height: 1px;
    padding-left: 1rem;
    /* border: 3px solid pink; */
}
