@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    background-color: #FFC017;
}



/*.columns > * {
    flex: 1;  
}*/

nav {
    display: flex;
    justify-content: space-around;
    background-color:  #FFC017;
    border-bottom: 1px solid black;
    
}

nav > img {
    width: 12vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 25vh;
    
}

nav > h1 {
    margin-left: 20vh;
}

.btn-and-links-container {
    display: flex;
    justify-content: flex-end;
    width: 60vh;
    
    align-items: center;
    padding-right: 30vh;
    
}

.links-container > a, button {
    flex-wrap: wrap;
    width: 15vh;
    max-width: fit-content;
    padding-left: 1vh;
    padding-right: 1vh;  
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.links-container > a {
    color: black;
    font-size: small;
    text-decoration: none;
}

.btn-and-links-container > button {
    margin-left: 1vh;
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: small;
    cursor: pointer;
}

/*img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    border-radius: 100%;
    border: 5px solid black;
    cursor: pointer;
}*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid black;
}

.hero > h1 {
    font-size: 7vh;  
    font-family: 'Lora', serif; 
}

.hero > p {
    font-size: large;
}

.hero > button {
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: small;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: column;
    
    border-bottom: 1px solid rgba(159, 159, 159, 0.49);
    border: 5px solid firebrick;
    color: rgba(255, 255, 255, 0.849);
}

.cards > .main-title {
    margin-left: 40vh;
    color: black;
    /*border: 5px solid firebrick;*/
}

.columns {
    display: flex;
    flex-direction: row;
    /*gap: 5rem;*/
    flex-flow: row wrap;
    width: 80vh;
    margin-left: 40vh;
    margin-right: 50vh;
    border: 10px solid plum;
}

.card-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 20vh;
    justify-content: flex-start;
    
    border: 3px solid royalblue;
}

.number {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: 100%;
    align-items: stretch;
    color: rgba(230, 230, 230, 1);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;
    font-size: 30px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid salmon;
}

.card-1 > .author {
    display: -webkit-box;
    flex-direction: row;
    color:  rgba(41, 41, 41, 1);
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
    font-size: 13px;
    font-weight: 500;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    border: 3px solid rgb(24, 104, 24);
}

.card-1 > .title {
    display: -webkit-box;
    flex-direction: row;
    color: rgba(41, 41, 41, 1);
    max-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 10px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}

.card-1 > .date {
    display: flex;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    max-width: fit-content;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgb(24, 104, 24);
}



